{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "env": {
        "production": {
            "plugins": ["external-helpers"]
        },
        "test": {
            "presets": [
                ["env"]
            ],
            "plugins": []
        }
    }
}
